*{
    margin: 0%;
    padding: 0%;

}

.cabecalho{
background-color: #970303;
display: flex;
justify-content: space-around;
align-items: center;
}

.lista-cabecalho{
color: rgb(250, 250, 250);
font-size: 23px;
}

.lista-item{
    display: inline-block;
    padding: 20px;
}
    .Principal {
    background-image: linear-gradient(#970303, rgb(236, 11, 11));
    height: 500px;
    padding: 100px;
    color: rgb(233, 233, 233);
    display: flex;
    align-content: space-around;
    align-items: center;
}
.primeiro-paragrafo{
    padding: 15px;
}
.segundo-paragrafo{
    padding:15px;
}
.student{
    width: 35%;
}
.texto{
    padding: 15;
    width: 35px;
}